---
page_title: "harvester Provider"
description: |-
  The provider for Harvester HCI.
---

# harvester Provider

- [Harvester support matrix](https://docs.harvesterhci.io/v1.5/terraform/terraform-provider)

{{ if .HasExample -}}
## Example Usage

{{tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}
